// =====================
// MIXINS
// =====================

@mixin container {
  max-width: $max-width;
  width: clamp(88%, 1200px, 1200px);
  margin: 0 auto;
  padding: 1.5rem;
}

@mixin botao($bg: $color-accent, $bg-hover: $color-accent-2) {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: $radius;
  background: $bg;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: background 0.25s ease;

  &:hover {
    background: $bg-hover;
  }
}
